        <div class="input-group mb-3">
            <h3 id="reference"></h3>
            <div id="results" class="d-flex flex-wrap justify-content-around"></div>
        </div>
        <h2 id="yes"></h2>
        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/js/movies.js"></script>